.chevronRight{
    stroke-width: 1.3;
    color: #999;
    display: inline;
    float: none;
    padding: 0;
    height: .8em;
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
    width: .8em;

    path{
        stroke-width: 1.3;
        color: #999;
    }
}